<div class="body">
    <div class="container">
        <mat-toolbar class="justify-content-center mt-2 mb-2">
            <span>Mis Turnos</span>
        </mat-toolbar>
        <div class="row justify-content-center">
            <mat-form-field appearance="fill" style="font-size: 14px;width: 100%;background-color: #424242;color: white;">
                <mat-label>Filtre los Resultados</mat-label>
                <input matInput (keyup)="filtrarTabla($event)" placeholder="Filtre la Tabla" #input>
            </mat-form-field>
        </div>
        <div class="row justify-content-center tablasTurnos">
            

            <table mat-table [dataSource]="turnosPaciente" class="mat-elevation-z8">

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Paciente</th>
                    <td mat-cell *matCellDef="let element">{{ element.paciente.nombre | titlecase }} {{ element.paciente.apellido | titlecase }}</td>
                </ng-container>
      
                <ng-container matColumnDef="medico">
                    <th mat-header-cell *matHeaderCellDef>Especialista</th>
                    <td mat-cell *matCellDef="let element">{{ element.medico.nombre | titlecase }} {{ element.medico.apellido | titlecase }}</td>
                </ng-container>
      
                <ng-container matColumnDef="especialidad">
                    <th mat-header-cell *matHeaderCellDef>Especialidad</th>
                    <td mat-cell *matCellDef="let element">{{ element.especialidad | titlecase }}</td>
                </ng-container>
      
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
                </ng-container>

                <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef>Horario</th>
                    <td mat-cell *matCellDef="let element">{{ element.horario | titlecase }}</td>
                </ng-container>
        
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let element">{{ element.estado | titlecase}}</td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <!-- btn cancelar -->
                        <button data-toggle="modal" data-target="#modalComentarios" class="mr-1" mat-flat-button color="warn" *ngIf="element.estado == 'solicitado'" (click)="cargarComentarios(element,'cancelado')">Cancelar</button>

                        <!-- btn ver reseña -->
                        <button data-toggle="modal" data-target="#modalVerComent" class="mr-1 botonGris" mat-flat-button *ngIf="element.comentario" (click)="verReseniaTurno(element)">Reseña</button>

                        <!-- btn completar encuesta -->
                        <button data-toggle="modal" data-target="#modalEncuesta" class="mr-1" mat-flat-button color="accent" *ngIf="element.comentario && element.estado == 'realizado' && !element.encuesta" (click)="completarEncuesta(element)">Encuesta</button>

                        <!-- btn calificar -->
                        <button data-toggle="modal" data-target="#modalComentarios" class="mr-1" mat-flat-button color="primary" *ngIf="element.estado == 'realizado' && !element.calificacion" (click)="cargarComentarios(element,'calificar')">Calificar</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <app-modal-comentarios *ngIf="turnoElegido" [turnoElegido]="turnoElegido"></app-modal-comentarios>
          <app-modal-ver-comentario *ngIf="verTurno" [turnoParaVer]="verTurno"></app-modal-ver-comentario>
          <app-modal-encuesta *ngIf="turnoEncuesta" [turnoEncuesta]="turnoEncuesta"></app-modal-encuesta>
    </div>
</div>
