<div class="body">
    <div class="container">
        <mat-toolbar class="justify-content-center mt-2 mb-2">
            <span>Mis Turnos</span>
        </mat-toolbar>
        
        <div class="row d-flex justify-content-center colorTabla">
            <div class="col-md-6">
                <mat-form-field appearance="fill" class="inputFiltro">
                    <mat-label>Filtre los Resultados</mat-label>                
                    <input matInput [(ngModel)]="filtroTabla" placeholder="Filtre por paciente, especialidad, fecha, horario, estado">
                </mat-form-field>

            </div>
            <div class="col-md-6">
                
                <mat-form-field appearance="fill" class="inputFiltro">
                    <mat-label>Filtre por los datos de la Historia Clínica</mat-label>
                    <input [(ngModel)]="filtroTablaHistClin" matInput placeholder="Filtre por los datos de la Historia Clínica">
                </mat-form-field>
            </div>
        </div>

        <div class="row justify-content-center tablasTurnos">
            

            <table mat-table [dataSource]="turnosMedico | ordenarFechas:'turnos' | filtroTabla:filtroTabla:'medicos' |filtroHistoriaClinica:filtroTablaHistClin" class="mat-elevation-z8">

                <ng-container matColumnDef="paciente">
                    <th mat-header-cell *matHeaderCellDef>Paciente</th>
                    <td mat-cell *matCellDef="let element">{{ element.paciente.nombre | titlecase }} {{ element.paciente.apellido | titlecase }}</td>
                </ng-container>
      
                <ng-container matColumnDef="especialidad">
                    <th mat-header-cell *matHeaderCellDef>Especialidad</th>
                    <td mat-cell *matCellDef="let element">{{ element.especialidad | titlecase }}</td>
                </ng-container>
      
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell *matCellDef="let element">{{ element.fecha | date:'dd/MM/YYYY'}}</td>
                </ng-container>

                <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef>Horario</th>
                    <td mat-cell *matCellDef="let element">{{ element.horario | titlecase }}</td>
                </ng-container>
        
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td [estadoTurno]= "element.estado" mat-cell *matCellDef="let element">{{ element.estado | titlecase}}</td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element"> 
                        <!-- BOTON ACEPTAR -->
                        <button class="mr-1" mat-flat-button color="primary" *ngIf="element.estado == 'solicitado'" (click)="modificarEstado(element,'aceptado')">Aceptar</button>

                        <!-- BOTON CANCELAR -->
                        <button data-toggle="modal" data-target="#modalComentarios" class="mr-1" mat-flat-button color="warn" *ngIf="element.estado == 'aceptado'" (click)="cargarComentarios(element,'cancelado')">Cancelar</button>

                        <!-- BOTON RECHAZAR -->
                        <button data-toggle="modal" data-target="#modalComentarios" class="mr-1" mat-flat-button color="warn" *ngIf="element.estado == 'solicitado'" (click)="cargarComentarios(element,'rechazado')">Rechazar</button>  

                        <!-- BOTON FINALIZAR -->
                        <button data-toggle="modal" data-target="#modalComentarios" class="mr-1" mat-flat-button color="accent" *ngIf="element.estado == 'aceptado'" (click)="cargarComentarios(element,'realizado')">Finalizar</button>

                        <!-- BOTON VER RESEÑA -->
                        <button data-toggle="modal" data-target="#modalVerComent" class="mr-1 botonGris" mat-flat-button *ngIf="element.comentario && element.estado == 'realizado'" (click)="verReseniaTurno(element)">Ver Reseña</button>

                        <!-- historia clinica -->
                        <button data-toggle="modal" data-target="#modalHistClin" class="mr-1" mat-flat-button color="accent" *ngIf="element.historiaClinica" (click)="verHistClin(element.historiaClinica)">Historia Clinica</button>
                    </td>
                </ng-container>                

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr [appColorTr]="row.estado" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
    </div>

    <!-- modal -->
    <app-modal-comentarios *ngIf="turnoModal" [turnoElegido]="turnoModal"></app-modal-comentarios>
    <app-modal-ver-comentario *ngIf="verTurno" [turnoParaVer]="verTurno"></app-modal-ver-comentario>
    <app-modalhistclin *ngIf="historiaClinicaPac" [histClin]="historiaClinicaPac"></app-modalhistclin>
</div>
