<button mat-flat-button color="accent" data-toggle="modal" data-target="#exampleModal">Mi Horarios</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content fondo">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Mi Disponibilidad</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="letrasBlancas" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <button>lunes</button>horarios<br>
          <button>martes</button><br>
          <button>miercoles</button><br>
          <button>jueves</button><br>
          <button>viernes</button><br>
          <button>sabado</button>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <button mat-flat-button color="primary">Guardar</button>          
        </div>
      </div>
    </div>
</div>


