.fondo{
    background-color: black;
    color: white;
}

hr{
    border-top: 1px solid whitesmoke;
}

.radGroup{
    width: 100%;
    display: flex;
    justify-content: center;
}

.rad{
    margin-right: 15px;
}