<div class="body">

    <div class="container-fluid d-flex justify-content-center">
        
        <div class="page-content page-container" id="page-content" *ngIf="dataUsuario">

            <div class="padding">

                <div class="row container d-flex justify-content-center">
                    <div class="col-xl-10 col-md-12">
                        <div class="card user-card-full">
                            <div class="row m-l-0 m-r-0">
                                <div class="col-sm-3 bg-c-lite-green user-profile">
                                    <div class="card-block text-center text-white">
                                        <div class="m-b-25">
                                            <img src="{{urlImg ? urlImg : '/assets/images/gif-buscar.gif' }}" class="img-radius" alt="User-Profile-Image" width="70%"/>
                                        </div>                                        
                                    </div>
                                    <div class="card-block text-center text-white" *ngIf="dataUsuario && dataUsuario.rol == 'paciente'">
                                        <div class="m-b-25">
                                            <img src="{{urlSegImg ? urlSegImg : '/assets/images/gif-buscar.gif' }}" class="img-radius" alt="User-Profile-Image" width="70%"/>
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-block">
                                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">{{ dataUsuario.nombre }} {{ dataUsuario.apellido }}</h6>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Email</p>
                                                <h6 class="text-muted f-w-400" *ngIf="dataUsuario">{{ dataUsuario.email }}</h6>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="m-b-10 f-w-600">DNI</p>
                                                <h6 class="text-muted f-w-400" *ngIf="dataUsuario">{{ dataUsuario.dni}}</h6>
                                            </div>
                                            <div class="col-sm-2">
                                                <p class="m-b-10 f-w-600">Edad</p>
                                                <h6 class="text-muted f-w-400" *ngIf="dataUsuario">{{ dataUsuario.edad}}</h6>
                                            </div>
                                        </div>
                                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600" *ngIf="dataUsuario && dataUsuario.rol == 'medico'">Especialidades</h6>
                                        <div *ngIf="dataUsuario && dataUsuario.rol == 'medico'" class="row">
                                            <div class="col-md-7">                                                
                                                <ul class="list-group mb-3">
                                                    <li *ngFor="let esp of especialidadesSinCargar" class="list-group-item d-flex justify-content-between lh-condensed">
                                                        <div class="mr-3">
                                                            <h6 class="my-0 d-flex align-self-center"> {{ esp }}</h6>
                                                        </div>
                                                        <button mat-flat-button color="accent" data-toggle="modal" data-target="#exampleModal" (click)="pasarDisp(esp)">Cargar Horarios</button>
                                                        <!-- <img src="{{ pais.flags.svg }}" alt="{{ pais.name.common }}"> -->
                                                    </li>                                                    
                                                </ul>
                                            </div>
                                            <div class="col-md-4" *ngIf="especialidadesCargadas.length > 0">
                                                <h6 class="text-muted">Disponibilidad Cargada</h6>                                                
                                                <ul class="list-group mb-3">
                                                    <li *ngFor="let esp of especialidadesCargadas" class="list-group-item d-flex justify-content-between lh-condensed">
                                                        <div class="mr-3">
                                                            <h6 class="my-0 d-flex align-self-center"> {{ esp }}</h6>
                                                        </div>                                                        
                                                    </li>                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <app-horarios-especialista *ngIf="objData" [data]="objData" (quitarEsp)="sacarEsp($event)"></app-horarios-especialista>

                                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600" *ngIf="dataUsuario && dataUsuario.rol == 'paciente'">Obra Social</h6>
                                        <div class="row">
                                            <div class="col-sm-2">                                                
                                                <h6 class="text-muted f-w-400">{{ dataUsuario.obraSocial }}</h6>
                                            </div>
                                            <div class="col-md-8" *ngIf="dataUsuario && dataUsuario.rol == 'paciente' && dataUsuario.historiaClinica">
                                                <div class="row d-flex justify-content-center">
                                                    <button data-toggle="modal" data-target="#modalVerHistClin" class="mr-1 botonGris" mat-flat-button >Historia Clínica</button>
                                                    <a style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Descargar PDF" (click)="bajarHistClinica(dataUsuario)">
                                                        <img src="assets/images/pdf-icon.png" alt="descargarPdf">
                                                    </a>
                                                </div>
                                            </div>                                            
                                        </div>

                                    </div>                                    
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-ver-hist-clinica *ngIf="dataUsuario && dataUsuario.rol == 'paciente' && dataUsuario.historiaClinica" [histClin]="dataUsuario.historiaClinica"></app-ver-hist-clinica>