<div class="body">
    <div class="container">
        <div class="row d-flex justify-content-around">
            <!-- BOTONES -->
            <div class="col-md-8">
                
                <div class="row" *ngIf="esAdmin && todosLosPacientes.length">
                    
                    <div class="example-button-row">
                        <h2 class="h3 mb-3 font-weight-normal text-center letrasBlancas">Elija el paciente</h2>
                        <button class="botonGris mr-2 ml-2" *ngFor="let pac of todosLosPacientes" mat-flat-button (click)="cargarPaciente(pac)">{{ pac.nombre }} {{ pac.apellido }}</button>
                    </div>
                    
                </div>
                <hr class="mb-3" *ngIf="esAdmin && todosLosPacientes.length">
                
                <div class="row" *ngIf="mostrarEspec">
                    <div class="example-button-row">
                        <h2 *ngIf="todosLosMedicos.length" class="h3 mb-3 font-weight-normal text-center letrasBlancas">Elija un Médico</h2>            
                        <button class="mr-2 ml-2 boton-imagen" *ngFor="let medico of todosLosMedicos" mat-flat-button (click)="cargarEspecialidades(medico)" title="{{medico.nombre}} {{medico.apellido}}">
                            <img [src]="medico.fotoPerfil.startsWith('https') ? medico.fotoPerfil : '/assets/images/gif-buscar.gif'" class="mx-auto d-block" alt="img-doctor" width="90%" height="90%" >
                        </button>
                    </div>                    
                </div>

                
                <hr *ngIf="dataEspecialidadesFiltradas.length">
                <div class="row mt-3 mb-5">
                    
                    <div class="example-button-row">

                        <h2 *ngIf="dataEspecialidadesFiltradas.length" class="h3 mb-3 font-weight-normal text-center letrasBlancas">Elija una Especialidad</h2>            
                        <button class="mr-2 ml-2 btn-espec" *ngFor="let espec of dataEspecialidadesFiltradas" mat-flat-button color="primary" (click)="cargarFechasEspec(espec.descripcion)">
                            <img class="img-espec" [src]="espec.urlFoto?.startsWith('https') ? espec.urlFoto : '/assets/images/gif-buscar.gif'" alt="">
                            <p>{{espec.descripcion}}</p>
                        </button>            
                    </div>
                    
                </div>
                
                <hr class="" *ngIf="fechasDisponibles.length">
                <div class="row mt-3">
                    <div class="example-button-row">
                        <h2 *ngIf="fechasDisponibles.length" class="h3 mb-3 font-weight-normal text-center letrasBlancas">Elija una Fecha</h2>
                        <button class="mr-2 ml-2 mt-1 btn-fechas" *ngFor="let fecha of fechasDisponibles" mat-flat-button color="warn" (click)="cargarTurnos(fecha)">
                            {{ fecha | titlecase}}
                        </button>            
                    </div>            
                </div>

                <hr *ngIf="horasLibres.length">
                <div class="row mt-3">
                    <div class="example-button-row">
                        <h2 *ngIf="horasLibres.length" class="h3 mb-3 font-weight-normal text-center letrasBlancas">Elija un Horario</h2>            
                        <button class="mr-2 ml-2 mt-1" *ngFor="let hora of horasLibres" mat-flat-button color="accent" (click)="cargarHora(hora)">{{ hora }}</button>            
                    </div>    
                </div>
        

            </div>

            <div class="col-md-2" style="border-left: 1px solid white;">
                
                <h2  class="h3 mb-3 font-weight-normal text-center letrasBlancas d-flex justify-content-end" >Detalle del Turno</h2>
                <div class="justify-content-center">
                    <form [formGroup]="formTurno" (ngSubmit)="turnoNuevo()">
                        <div *ngIf="esAdmin" class="row">
                            <div class="col-md-4">
                                <mat-form-field appearance="fill" class="text-center letrasBlancas">
                                    <mat-label>Paciente</mat-label>
                                    <input class="letrasBlancas" matInput readonly formControlName="paciente">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field appearance="fill" class="text-center letrasBlancas">
                                    <mat-label>Médico</mat-label>
                                    <input class="letrasBlancas" matInput readonly formControlName="medico">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field appearance="fill" class="text-center letrasBlancas">
                                    <mat-label>Especialidad</mat-label>
                                    <input class="letrasBlancas" matInput readonly formControlName="especialidad">
                                </mat-form-field>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field appearance="fill" class="text-center letrasBlancas">
                                    <mat-label>Día</mat-label>
                                    <input class="letrasBlancas" matInput readonly formControlName="fecha">
                                </mat-form-field>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field appearance="fill"  class="text-center letrasBlancas">
                                    <mat-label>Horario</mat-label>
                                    <input class="letrasBlancas" matInput readonly formControlName="horario">
                                </mat-form-field>    
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <button [disabled]="esInvalido" type="submit" mat-flat-button color="accent">Pedir Turno</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div *ngIf="esAdmin" class="row">
            <a data-toggle="tooltip" data-placement="bottom" title="Volver" routerLink="/panel-control">
              <img src="assets/images/back.png" alt="flecha-volver" />
            </a>
        </div>
    </div>
</div>
