
<div class="fondo d-flex justify-content-center align-items-center h-100 w-100 mt-5">
    <div class="container">
        <mat-toolbar class="justify-content-center mt-5 mb-1">
            <span>Gráficos y Estadísticas</span>
        </mat-toolbar>

        <div class="d-flex justify-content-evenly flex-wrap mx-5 mt-3">
            <div class="mx-5 mb-2" appBordes>
                <h3 class="h3 mb-3 font-weight-normal text-center">Cantidad de Turnos por Especialidad</h3>
                <canvas id="graficoPorEspecialidad" width="600" height="300" #graficoPorEspecialidad></canvas>
                <div class="d-flex justify-content-center mb-2 mt-2">
                    <button class="botonGris pl-0" mat-flat-button (click)="descargarGraficoPDF('especialidad')">
                        <img src="assets/images/pdf-icon.png" alt="descargarPdf">
                        Descargar
                    </button>
                    
                </div>
            </div>
            
            <div class="mx-5 mb-2" appBordes>
                <h3 class="h3 mb-3 font-weight-normal text-center">Cantidad de Turnos por Fechas</h3>
                <canvas id="graficoPorFecha" width="600" height="300" #graficoPorFecha></canvas>
                <div class="d-flex justify-content-center mb-2 mt-2">
                    <button class="botonGris pl-0" mat-flat-button (click)="descargarGraficoPDF('fecha')">
                        <img src="assets/images/pdf-icon.png" alt="descargarPdf">
                        Descargar
                    </button>
                </div>
            </div>
            
            <div class="mx-5 mb-2" appBordes>
                <h3 class="h3 mb-3 font-weight-normal text-center">Cantidad de Turnos por Médico entre el {{ fechaAnterior | date:'dd/MM/YYYY' }} y {{ hoy | date:'dd/MM/YYYY' }}</h3>
                <canvas id="graficoPorMedico" width="400" height="400" #graficoPorMedico></canvas>
                <div class="d-flex justify-content-center mb-2 mt-2">
                    <button class="botonGris pl-0" mat-flat-button (click)="descargarGraficoPDF('medico')">
                        <img src="assets/images/pdf-icon.png" alt="descargarPdf">
                        Descargar
                    </button>
                </div>
            </div>
            
            <div class="mx-5 mb-2" appBordes>
                <h3 class="h3 mb-3 font-weight-normal text-center">Cantidad de Turnos Realizados por Médico entre el {{ fechaAnterior | date:'dd/MM/YYYY' }} y {{ hoy | date:'dd/MM/YYYY' }}</h3>
                <canvas id="graficoPorMedicoFinalizado" width="400" height="400" #graficoPorMedicoFinalizado></canvas>
                <div class="d-flex justify-content-center mb-2 mt-2">
                    <button class="botonGris pl-0" mat-flat-button (click)="descargarGraficoPDF('medicoFinalizado')">
                        <img src="assets/images/pdf-icon.png" alt="descargarPdf">
                        Descargar
                    </button>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-2 mb-5">
                
            <a data-toggle="tooltip" data-placement="bottom" title="Volver" routerLink="/panel-control">
                <img src="assets/images/back.png" alt="flecha-volver">
            </a>
        </div>

    </div>
</div>
