<div class="body">
    <div class="container">
        
        <mat-toolbar class="justify-content-center mt-2 mb-4">
              <span>Elija un tipo de perfil</span>
        </mat-toolbar>

        <div class="d-flex align-items-center flex-column">
            <div class="list-group">
                
                <div class="text-center mb-3 rotate-vert-center">
                    <p style="font-size: x-large;">Pacientes</p>
                    <button   class="boton-imagen mb-2" (click)="cargarTipoUsuario('paciente')">
                      <img src="/assets/images/pacientes.png" class="mx-auto d-block" alt="img-paciente" width="75%" height="75%" >
                    </button>
                </div>

                <div class="text-center mb-3 mt-2 rotate-vert-center">
                    <p style="font-size: x-large;">Médicos</p>
                    <button   class="boton-imagen mb-2" (click)="cargarTipoUsuario('medico')">
                      <img src="/assets/images/medicos.png" class="mx-auto d-block" alt="img-medico" width="75%" height="75%" >
                    </button>
                </div>
                
                <div *ngIf="esAdmin" class="text-center mt-2 rotate-vert-center">
                    <p style="font-size: x-large;">Administradores</p>
                    <button   class="boton-imagen mb-2" (click)="cargarTipoUsuario('admin')">
                      <img src="/assets/images/admin.png" class="mx-auto d-block" alt="img-admin" width="75%" height="75%" >
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
