<div class="body bg-pan-top mt-5">
    <div class="container">
        <mat-toolbar class="justify-content-center mb-2">            
            <span >Sección Principal</span>            
        </mat-toolbar>
        <div class="row">
            <div class="col-md-4 scale-in-center">
                <mat-card class="example-card">
                    <mat-card-title-group>
                        <mat-card-title>Usuarios</mat-card-title>
                        <mat-card-subtitle>
                            <a routerLink="/panel-control/usuarios" mat-stroked-button color="accent">Ver</a>
                        </mat-card-subtitle>
                        <img mat-card-sm-image src="/assets/images/pacientes.png" >
                    </mat-card-title-group>
                    <mat-card-content>
                        Acceda a la información de todos los usuarios.
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4 scale-in-center">
                <mat-card class="example-card">
                    <mat-card-title-group>
                    <mat-card-title>Especialistas</mat-card-title>
                    <mat-card-subtitle>
                        <a routerLink="/panel-control/especialistas" mat-stroked-button color="accent">Ver</a>
                    </mat-card-subtitle>
                    <img mat-card-sm-image src="/assets/images/medicos.png" >
                    <a *ngIf="nuevosMedicos" color="warn" mat-icon-button class="notificacion example-icon favorite-icon shake-bottom" aria-label="Example icon-button with heart icon">
                        <span>Nuevos especialistas para aprobar el alta.</span>
                        <mat-icon>notification_important</mat-icon>
                    </a>                    
                    </mat-card-title-group>
                    <mat-card-content>
                        Acceda a la información de los especialistas.
                    </mat-card-content>
                </mat-card>
            </div>
            
            <div class="col-md-4 scale-in-center">
                <mat-card class="example-card">
                    <mat-card-title-group>
                    <mat-card-title>Administradores</mat-card-title>
                    <mat-card-subtitle>
                        <a routerLink="/registro" mat-stroked-button color="accent">Nuevo Usuario</a>
                    </mat-card-subtitle>
                    <img mat-card-sm-image src="/assets/images/admin.png" >                    
                    </mat-card-title-group>
                    <mat-card-content>
                    Genere nuevos usuarios.
                    </mat-card-content>
                </mat-card> 
            </div>
        </div>
        
        <hr class="hrBlanco">
        
        <!-- <h2 class="h3 mb-3 font-weight-normal text-center">Sección Turnos</h2> -->
        <mat-toolbar class="justify-content-center"color="primary">            
            <span >Sección Turnos</span>            
        </mat-toolbar>
        <div class="row mt-2 justify-content-center d-flex">
            <div class="col-md-4 scale-in-center">
                <mat-card class="example-card">
                    <mat-card-title-group>
                        <mat-card-title>Turnos de la Clínica</mat-card-title>
                        <mat-card-subtitle>
                            <a routerLink="/turnos/todos-los-turnos" mat-stroked-button color="accent">Ver</a>
                        </mat-card-subtitle>
                        <img mat-card-sm-image src="/assets/images/turnos.png" >
                    </mat-card-title-group>
                    <mat-card-content>
                        Visualice todos los turnos de la Clínica.
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4 scale-in-center">
                <mat-card class="example-card">
                    <mat-card-title-group>
                        <mat-card-title>Solicitar un Turno</mat-card-title>
                        <mat-card-subtitle>
                            <a routerLink="/turnos/pedir-turno" mat-stroked-button color="accent">Pedir</a>
                        </mat-card-subtitle>
                        <img mat-card-sm-image src="/assets/images/pedir-turno.png" >
                    </mat-card-title-group>
                    <mat-card-content>
                        Solicite un Turno para un paciente.
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <hr class="hrBlanco">
        <mat-toolbar class="justify-content-center mb-2">            
            <span>Gráficos y Estadísticas</span>            
        </mat-toolbar>
        <div class="row mt-2 justify-content-center d-flex">
            <div class="col-md-4 scale-in-center">
                <mat-card class="example-card">
                    <mat-card-title-group>
                        <mat-card-title>Gráficos</mat-card-title>
                        <mat-card-subtitle>
                            <a routerLink="/panel-control/estadisticas-graficos" mat-stroked-button color="accent">Entrar</a>
                        </mat-card-subtitle>
                        <img mat-card-sm-image src="/assets/images/graficos.png" >
                    </mat-card-title-group>
                    <mat-card-content>
                        Visualice las estadísticas de la clínica.
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-md-4 scale-in-center">
                <mat-card class="example-card">
                    <mat-card-title-group>
                        <mat-card-title>Log de Ingresos</mat-card-title>
                        <mat-card-subtitle>
                            <a routerLink="/panel-control/control-ingresos" mat-stroked-button color="accent">Entrar</a>
                        </mat-card-subtitle>
                        <img mat-card-sm-image src="/assets/images/security.png" >
                    </mat-card-title-group>
                    <mat-card-content>
                        Visualice los ingresos a la clínica.
                    </mat-card-content>
                </mat-card>
            </div>            
        </div>

        

    </div>
</div>
